<html>
<head>
  <title>Complex Layout</title>
	<link rel="stylesheet" type="text/css" href="../../resources/css/ext-all.css" />
    
    <!-- GC -->
 	<!-- LIBS -->
 	<script type="text/javascript" src="../../adapter/ext/ext-base.js"></script>
 	<!-- ENDLIBS -->

    <script type="text/javascript" src="../../ext-all.js"></script>
  
    <!--<script language="javascript" src="../grid/PropsGrid.js"></script>-->
	<style type="text/css">
	html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
    }
	p {
	    margin:5px;
	}
    .settings {
        background-image:url(../shared/icons/fam/folder_wrench.png);
    }
    .nav {
        background-image:url(../shared/icons/fam/folder_go.png);
    }
    </style>
	<script type="text/javascript">
    Ext.onReady(function(){

        Ext.state.Manager.setProvider(new Ext.state.CookieProvider());
        
        
      var centerPanel =new Ext.TabPanel({
                    region:'center',
                    deferredRender:false,
                    activeTab:0
                });
        
      var interventionPanel = {
            contentEl:'center',
            title: 'Interventions',
            autoScroll:true
        };
      
      centerPanel.beginUpdate();
      centerPanel.add();
      centerPanel.endUpdate();
      
      
       var viewport = new Ext.Viewport({
            layout:'border',
            items:[
                new Ext.BoxComponent({ // raw
                    region:'north',
                    el: 'north',
                    height:32
                }),{
                    region:'south',
                    contentEl: 'south',
                    split:true,
                    height: 100,
                    minSize: 100,
                    maxSize: 200,
                    collapsible: true,
                    title:'South',
                    margins:'0 0 0 0'
                },
                centerPanel
             ]
        });
    });
	</script>
</head>
<body>
<script type="text/javascript" src="../examples.js"></script><!-- EXAMPLES -->
  <div id="north">
    <p>north - generally for menus, toolbars and/or advertisements</p>
  </div>
  <div id="center">
  	<div id="panel1">
  	</div>
  	
  </div>
  <div id="south">
    <p>south - generally for informational stuff, also could be for status bar</p>
  </div>

 </body>
</html>
