CHARSET "ISO-8859-1";



  
#DispositifHoraire tr td
{
 text-align:center;  
}

#dispositif_vacation_terminee_span
{
  margin-left:30px;
  border:none;
  background-color:#fff343;
  font-weight:bold;
}

#dispositif_title
{
  font-size:16px;
  color:#3D3D7E;
}
#dispositif_title span
{
  border-top:1px solid #138EA8;
  border-bottom:1px solid #138EA8;
}                 
                 
#DispositifEdit
{
/*  width:600px;*/
}

#DispositifEdit fieldset table
{
  width:100%;
}

#DispositfEquipierTable
{

}

.heureLabel
{

}

.heureLabel_active
{
  font-weight:bold;
}
  

.heureInput,.heureInput_done, .heureInput_active
{
  width:37px;
  text-align:center;
}

.heureInput_done
{
  background-color:#D6D6CF;
}

.heureInput_active
{
  background-color:#ADFF71;
}

#DispositifVolumeTotal, #DispositifAutonomieTotal
{
  color:#75757B;
  text-align: center;
}

#DispositifO2Table
{
 width:50%;
}
#DispositifO2Table td
{
  border-right:1px solid #C1DAD7;
  border-bottom:1px solid #C1DAD7;
  background:#fffff;
  width:20px;
  padding:0px;
  text-align:center;
}

.DispositifO2Input
{
  width:30px;
  margin:0px;
  text-align:center;
  border:none;
}
#DispositifVolumeTotal, #DispositifAutonomieTotal,.DispositifO2Input
{
  font-size: 9px;
}
.DispositifO2TableRowTitle
{  
  width:20px;
  font-size:10px;
}

#DispositifDefibrilateurTable
{
  width:210px;
}
#DispositifDefibrilateurTable th
{
  font-size:11px;
}
#DispositifDefibrilateurTable td span
{
  font-size:10px;  
}
.DispositifDefibrilateurRadio
{
  vertical-align:bottom;
}

.userList
{

}

.userList table
{
  width:550px;
}

.userList thead th
{
  background-color:#E4E4E4;
  font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-variant:small-caps;
  font-weight:bold;
  color:#100D55;
  text-align: center;
}

.userList_tbody
{
}

.userList_tbody tr td
{
  font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color:#0A072E;
  text-align: center;
}

.userList_tbody tr.row1
{
  background-color:#EDECFF;
}
.userList_tbody tr.row2
{
  background-color:#ECFFFF;
}

.userList tfoot th
{
  text-align:center;
  font-size: 12px;
  font-variant:small-caps;
  font-weight:bold;
  font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
}

.userList tfoot td
{
  text-align:center;
  font-size: 11px;
  font-family: Geneva, Vera, Arial, Helvetica, sans-serif;
}

#DispositifDHDebut_divLabel, #DispositifDHFin_divLabel
{
  float:left;
  height:18px;
  line-height:18px;
  vertical-align:sub;
  margin-right:3px;
}



/*Pour la recherche d'�quipier*/
.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}
.evaluation
{
  background-image: url("../../img/famfamfam/book_edit.png") !important;
  background-repeat:no-repeat;
}


.terminerEvaluation
{
  background-image: url("../../img/famfamfam/book_delete.png") !important;
  background-repeat:no-repeat;
}


.removeEquipier
{
  background-image: url("../../img/famfamfam/user_delete.png") !important;
  background-repeat:no-repeat;
}

#WhyNotFound
{
   font-weight: normal;
   font-size: 9px;
   margin-left:30px;
   color:blue;
}