@CHARSET "ISO-8859-1";

#interventionTicketComplementMotif, #interventionTicketComplementAdresse
{
  width:100%;
  height:50px;
}

#interventionTicketOrigine, #interventionTicketMotif
{
  margin-right:5px;
}
#AddIntervention, #AddInterventionDeleteConfirm
{
  float:left;
  margin-right:5px;
}
#interventionTicketEditButton, #interventionTicketCancelButton
{
  padding:5px;
}