
#north
{
  border-bottom:1px solid #530011;
  margin:0px 0px 0px 0px;
  height:60px;
}

#north .imgLoginLeft
{
  position:absolute;
  left:5px;
  top:5px;
}

#north .imgLoginRight
{ 
  position:absolute;
  right:5px;
  top:5px;
} 

#RegulationList
{
  width:600px;
  margin-top:120px;
  margin-left:auto;
  margin-right:auto;
  
}
.addButton
{
  background-image:url(../../img/famfamfam/add.png) !important;
}

.editButton
{
  background-image:url(../../img/famfamfam/book_edit.png) !important;
}


.findButton
{
   background-image:url(../../img/famfamfam/magnifier.png) !important;
}


#equipierDetails_fieldset, #equipierSearch_fieldset
{
  width:90%;
}

#equipierDetails_table td
{
  padding:2px;
}

#edit_role_table
{
  border:1px solid grey;
  border-collapse: collapse;
  width:100%;
  
}
#edit_role_table td
{
  border:1px solid grey;  
  margin:0px;
  padding:3px;
  width:200px;
}