#InterventionTicketList
{
  
}

.intervention_samu td, .intervention_samu th
{
  font-size:12px;
  font-family: sans-serif;
  
}

.intervention_samu th
{
  font-weight: bold;
  padding-right:4px;
  border:1px solid #DFDFDF;
  background-color:F2F2F2;
  text-align:right;
}

.dd-item
{
	z-index:1000;
  border: 1px solid #a0a0a0;
  background-color: #c4d0ff;
  vertical-align: middle;
  cursor: move;
  padding: 2px;
}
.interventionDropZone {
  border: 1px solid silver;
  vertical-align:top;
  height:40px;
  background-color: #ffffc0;
}
.dd-item 
{
	margin: 2px;
}
.dd-proxy 
{
	opacity: 0.4;
  -moz-opacity: 0.4;
  filter: alpha(opacity=40);
}
.dd-over 
{
	background-color: #ffff60;
}

.red
{
	width:50px;
	height:50px;
}

