@CHARSET "ISO-8859-1";
DIV
{
	-moz-border-radius:5px;
}

#DispositifList
{
	position:absolute;
	top:55px;
	left:0px;
	width:100%;
}

#clock{
	font: 25px Georgia, "Times New Roman" Georgia Times serif;
	color:black;
}
.crfIcon
{
  vertical-align:middle;
}

#south-lieu-selector td
{
  padding:2px;
  font-size: 11px;
}

#south-lieu-selector img
{
  cursor:pointer;
}
.type-lieu-unselected img, .type-lieu-selected img
{
  margin-left:2px;
  margin-right:4px;
  vertical-align: sub;
}

.type-lieu-unselected
{
  background-color: #E6E6E6;
  color: #9A9A9A;
  cursor:pointer;
}

.type-lieu-selected
{
  background-color: #CCFFCD;
  color: #180059;
  cursor:pointer;
}

.ListLieuItem
{
  border-bottom: 1px solid #DFDCED;
  margin:1px 0px 6px 3px; 
}

.ListLieuListName
{
  font-size: 16px;
  font-weight: bold;
}

.ListLieuListAddress
{
  font-size: 11px;
}
.ListLieuListHtml
{
}
/*fix pour la taille des indications routiere de google map*/
.GoogleMapsDirection td
{
  font-size: 11px;
}