@CHARSET "ISO-8859-1";
.samu_cadre
{
	-moz-border-radius:15px;
	width:98%;
	margin:5px;
	border:1px solid #8BA6E2;
	font-size:14px;
	padding:3px 2px 2px 5px;
	margin-top:10px;
	margin-bottom:23px;
}
.samu_cadre_entete
{
	margin:-15px 0px 0px 0px;
	height:40px; 
}
.samu_horaires
{
	border-spacing: 7px 0px;
}

.samu_horaires tr th
{
	background-color:white;
	color:black;
	font-weight:bold;
	border:1px solid #D8D8D8;
	vertical-align:middle;
	font-size:12px;
 -moz-border-radius:5px;
}
.samu_cadre_title
{
	-moz-border-radius:10px;
	border:1px solid #8BA6E2;
	background-color:#D5DEF4;
	padding-left:20px;
	width:170px;
	font-weight:bold;
	font-size:15px;
	font-family:arial;
}

.samu_ci
{
	font-size:11px;
}

.samu_equip
{
	font-size:10px;
	display:none;
}


.samu_hour
{
	font-size:11px;
	text-align:center;
}

.samu_buttons
{
	height:22px;
	margin-bottom:-3px;
	float:none;
	border:none;
}
.samu_victime, .samu_etat,  .samu_action, .samu_editerFiche
{
	border:1px solid #5EAAFF;
	background-color:#F4FFF4;
	height:20px;
	text-align:center;
	font-size:13px;
	float:left;
	margin-right:3px;
}
.samu_victime div.label, .samu_etat div.label, .samu_action div.label
{
	background-color:#6A7775;
	color:#F5F5F5;
	font-weight:bold;
	font-size:11px;
	height:100%;
	float:left;
	padding:2px 4px 0px 4px;
}		

 .samu_action
{
	border-width:2px;
}

.samu_victime
{
  width:250px;
  line-height:16px;
  font-size:11px;
  text-align:left;
  padding-left:2px;
}

.samu_editerFiche
{
	padding-top:4px;
	font-weight:bold;
	color:#112042;
	width:110px;
}

	
.samu_address
{
	margin-top:5px;
	font-family:verdana;
	font-size:9px;
	color:#535353;
	border-top:1px dashed #444444;
	-moz-border-radius:0px;
	float:left;
	height:20px;	
	width:50%;
}

.samu_etat
{
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}