@CHARSET "ISO-8859-1";
img	{border: 0px;}
form{margin: 0px;}
tr  {vertical-align: top;}
body
{
	padding:0px;
  font: 11px Georgia, "Times New Roman" Georgia Times serif;
}
table
{
	font-family: Geneva, Vera, Arial,	Helvetica, sans-serif;
	font-size: 12px;
} 
input, select
{
	border:1px solid #A7A6AA;
	-moz-border-radius:4px;
}
fieldset
{
	padding:3px;
	margin-top:5px;
	margin-bottom:5px;
	border:1px solid #3D3D7E;
	-moz-border-radius:6px;
}
legend
{ 
  margin-left:5px;
	font-family: Geneva, Vera, Arial,	Helvetica, sans-serif;
	font-size: 12px;
  font-weight:bold;  
	border:1px solid #BEBEE0;
  background-image:url('../img/puce-rouge.png');
  background-repeat:no-repeat;
  background-position:4px 50%;
  padding-left :12px; 
  padding-right:10px; 
  -moz-border-radius:4px;
}
TEXTAREA 
{
  -moz-border-radius:6px;
}

.idInterventionNumber
{
	font-weight: bold; 
	background-color: rgb(245, 255, 53); 
}