<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
		    <value>classpath:crf-irp.properties</value>
		</property>
	</bean>

	<import resource="spring/cache.xml"			/>
	<import resource="spring/dao.xml"				/>	
 	<import resource="spring/scheduler.xml"	/>
  <import resource="spring/dwr.xml"  />
	<import resource="spring/services.xml"	/>		
  <import resource="spring/servlet.xml"  />

  <bean id="SecurityService" class="fr.croixrouge.irp.services.authentification.SecurityServiceImpl" autowire="constructor"/>
</beans>
