<?xml version="1.0" encoding="UTF-8"?>
<beans          xmlns    = "http://www.springframework.org/schema/beans"
                xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
        
       xsi:schemaLocation= "http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
		    <value>classpath:crf-irp.properties</value>
		</property>
	</bean>

	<import resource="spring/cache.xml"			/>
	<import resource="spring/dao.xml"				/>	
 	<import resource="spring/scheduler.xml"	/>
  <import resource="spring/dwr.xml"       />
	<import resource="spring/services.xml"	/>		
  <import resource="spring/servlet.xml"   />

  <bean id="SecurityService" class="fr.croixrouge.irp.services.authentification.SecurityServiceImpl" autowire="constructor"/>
</beans>
